
# Created by https://www.gitignore.io/api/bower

### Bower ###
src/bower_components/
.bower-cache
.bower-registry
.bower-tmp

### Node ###
node_modules/
package-lock.json

### IDEA ###
.idea/
.firebase/